"\Processor(_Total)\% Processor Time"
"\Memory\Available MBytes"
"\Process(rphost*)\Working Set - Private"
"\Process(rphost*)\% Processor Time"
"\PhysicalDisk(_Total)\Avg. Disk sec/Write"
"\PhysicalDisk(_Total)\Avg. Disk sec/Read"
"\PhysicalDisk(_Total)\Current Disk Queue Length"
"\Network Adapter(*)\Bytes Total/sec"
"\System\Processor Queue Length"
"\SQLServer:Buffer Manager\Buffer cache hit ratio"
"\SQLServer:Buffer Manager\Page life expectancy"
"\Process(sqlservr)\% Processor Time"
"\VM Processor(_Total)\% Processor Time"
"\VM Memory\Memory Active in MB"
"\VM Memory\Memory Limit in MB"